<!DOCTYPE html>
<html>
<head>
  <title>School Management System</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <!--bower:js-->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-4"><span>Browse File to Import Results</span></div>
      <div class="col-lg-8"><input type="file" id="import_result"></div>
    </div>
  </div>
</body>
</html>
