<!DOCTYPE html>
<html>
<head>
  <title>School Management System</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <!--bower:js-->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/lib/marquee.js"></script>
  <!-- endbower -->
  <style type="text/css">
  .mrgtop {
    margin-top:10px;
  }
  .mrgbtm {
    margin-bottom:10px;
  }
  .admin-login {
    border: 10px solid;
    border-radius: 4px;
    box-shadow: 10px 10px 5px rgb(136, 136, 136);
  }
  .admin-lbl {
    padding: 10px; background-color: rgb(34, 34, 34);
  }
  .admin-lbl-color {
    color: rgb(157, 157, 157);
  }
  </style>
  <script type="text/javascript">
    $(function(){
      $('.simple-marquee-container').SimpleMarquee({
        duration:41000,
        hover:true
      });
      $(".marquee-1").trigger('mouseenter');
      $(".marquee-1").trigger('mouseleave');

    });
  </script>
</head>
<body>
  <% var user = '' %>
  <% include ../partials/header %>
  <div class="content">
    <div class="simple-marquee-container">
      <div class="marquee-sibling"> Latest Updates </div>
      <div class="marquee">
        <ul class="marquee-content-items">
          <li>11th Std Physics Mock Test - 09/09/2016</li>
          <li>12th Std Maths Mock Test - 11/09/2016</li>
          <li>12th Std Biology Mock Test - 11/09/2016</li>
          <li>10th Std Maths Mock Test - 09/09/2016</li>
          <li>11th Std Chemistry Mock Test - 12/09/2016</li>
        </ul>
      </div>
    </div>
  </div>  

  <div class="container">
    <div class="row mrgtop">
      <div class="col-lg-7 admin-login" >
        <div class="row mrgtop">
          <div class="col-lg-4"><span>Enter Your Seat No</span></div>
          <div class="col-lg-8"><input type="text" class="form-control" id="seat_no"></div>        
        </div>
        <div class="row mrgtop">
          <div class="col-lg-4"><span>Enter Your BirthDate</span></div>
          <div class="col-lg-8"><input type="text" class="form-control" id="birthdate"></div>
        </div>
        <div class="row mrgtop">
          <div class="col-lg-12 text-center"><button class="btn btn-primary" id="Submit">Submit</button></div>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-4 admin-login">
        <form action="/auth/login" name="loginForm" method="post">
          <div class="row">
            <div class="col-lg-12 text-center admin-lbl"><span class="admin-lbl-color">Admin Login</span></div>
          </div>
          <div class="row mrgtop">
            <div class="col-lg-4"><span>Username</span></div>
            <div class="col-lg-8"><input type="text" class="form-control" name="username"></div>
          </div>
          <div class="row mrgtop">
            <div class="col-lg-4"><span>Password</span></div>
            <div class="col-lg-8"><input type="text" class="form-control" name="password"></div>
          </div>
          <div class="row mrgtop mrgbtm">
            <div class="col-lg-12 text-center"><button class="btn btn-primary" id="Submit">Login</button></div>
          </div>        
        </form>
      </div>
    </div>
  </div>
</body>
</html>