<!DOCTYPE html>
<html>
<head>
  <title>School Management System</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <!--bower:js-->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->
  <style type="text/css">
  .mrgtop{
    margin-top:10px;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="row mrgtop">
      <div class="col-lg-2"><span>Enter Your Seat No</span></div>
      <div class="col-lg-4"><input type="text" class="form-control" id="seat_no"></div>
    </div>
    <div class="row mrgtop">
      <div class="col-lg-2"><span>Enter Your BirthDate</span></div>
      <div class="col-lg-4"><input type="text" class="form-control" id="birthdate"></div>
    </div>
    <div class="row mrgtop">
      <div class="col-lg-2 text-center"></div>
      <div class="col-lg-4 text-center"><button id="Submit">Submit</button></div>
    </div>
  </div>
</body>
</html>