<!DOCTYPE html>
<html>
<head>
  <title>School Management System</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <!--bower:js-->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 pull-right">
        <span><a href="/admin/import">click here to Import result</a></span>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Seat No.</th>
        <th>Marks Obtained</th>
        <th>Percentile</th>
      </tr>      
    </thead>
    <tbody>
      <% for(var i=0; i<list.length; i++){%>
        <tr>
          <td><%=list[i].name%></td>
          <td><%=list[i].sid%></td>
          <td><%=list[i].marks%></td>
          <td><%=list[i].per%></td>
        </tr>
      <%}%>
    </tbody>
  </table>
</body>
</html>