<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SMS</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <%if(user){%>
      <ul class="nav navbar-nav pull-right">
        <li><a href="#">Welcome <span class="text-success"><b><%=user.first_name%>&nbsp;<%=user.last_name%></b></span></a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
      <%}%>
    </div>
  </div>
</div>